___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# 강사의 문제풀이 영상을 보지 않고 직접 풀어본 내용

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

### 번역
- 워밍업: 기본 비교 및 ​​방법을 사용하여 해결할 수 있습니다.
- 레벨 1: 여기에는 if/then 조건문과 간단한 방법이 포함될 수 있습니다.
- 레벨 2: 일반적으로 일종의 루프를 사용하여 시퀀스를 반복해야 할 수 있습니다.
- 도전문제: 해결하려면 약간의 창의성이 필요합니다.
----

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

### 번역:
#### 입력한 2개의 인자가 
1. 모두 짝수면 작은 수를 반환
2. 하나만 짝수거나 모두 홀수면 큰 수를 반환

### 풀이에 필요할 것 같은 것  메모
- 두 수가 모두 짝수면
    - and 연산자 :   
    - a+b % 2 == 0 : 홀수 + 홀수 %2==0 인 경우가 있어서 fail. 근데 a != b  넣으면 해결될지도?
- 하나만 짝수면 : or
- 모두 짝수면 : else?

In [24]:
# 첫번째 풀이
def lesser_of_two_evens(a,b):
    # 2개의 숫자 비교 & 모두 짝수인 경우
    if a%2 == 0 and b%2 == 0:
        if a > b:
            print(b)
        else:
            print(a)
    # 둘 중 하나만 짝수 
    elif a%2 != 0 or b%2 != 0:
    #  elif가 아니고 else로 변경해도 정상 동작 확인
        if a > b:
            print(a)
        else:
            print(b)
    # 둘 다 홀 수  (없어도 정상 동작 = 불필요한 스크립트)
    elif a%2 == 1 and b%2 == 1:
        if a > b:
            print(a)
        else:
            print(b)

In [10]:
# 최종 결과
def lesser_of_two_evens(a,b):
    # 2개의 숫자 비교 & 모두 짝수인 경우
    if a%2 == 0 and b%2 == 0:
        if a > b:
            return b
        else:
            return a
    # 둘 중 하나만 짝수 거나 둘다 홀수 
    else: 
        if a > b:
            return a
        else:
            return b

In [11]:
# Check
lesser_of_two_evens(4,2)

2

In [12]:
# Check
lesser_of_two_evens(2,5)

5

In [13]:
lesser_of_two_evens(12,5)

12

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

번역 
- 두 단어로 된 문자열을 사용하여 두 단어가 같은 문자로 시작하면 True를 반환하는 함수 작성

### 풀이에 필요할 것 같은 것  메모
1. split()
2. 나뉜 글자의 text1[0] text2[0] 비교 
    - == True
    - != False

In [62]:
# 첫 풀이
def animal_crackers(text):
    # 띄어쓰기를 기준으로 글자 나누기
    split_text = text.split()
    
    # 제대로 나눠졌는지 확인용
    #print(split_text[0][0])
    #print(split_text[1][0])
    
    # 정상 동작되지만, 첫글자가 대/소문자 인 경우 False로 동작함.
    #if split_text[0][0] == split_text[1][0]:
    
    # 첫글자를 모두 대문자로 변경해서 비교 하도록 동작
    if split_text[0][0].upper() == split_text[1][0].upper():
        return True
    else:
        return False

In [14]:
# 최종 결과
def animal_crackers(text):
    # 띄어쓰기를 기준으로 글자 나누기
    split_text = text.split()
    
    if split_text[0][0].upper() == split_text[1][0].upper():
        return True
    else:
        return False

In [15]:
# Check
animal_crackers('Levelheaded Llama')

True

In [16]:
# Check
animal_crackers('Crazy Kangaroo')

False

In [18]:
animal_crackers('crazy Cangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

번역
- 두 개의 정수가 주어지면 정수의 합이 20 이거나 정수 중 하나가 20이면 True를 반환합니다. 그렇지 않으면 False를 반환합니다

### 풀이에 필요할 것 같은 것  메모
1. if문으로 2개의 인수 중 20이 있는 지 확인. 있다면 True
2. 인수에 20이 없다면 sum() == 20  > True
3. sum() != 20  >>> False

In [74]:
# 첫 풀이
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    # 아래의 조건일 때 int' object is not iterable 에러 발생
    #elif sum(n1,n2) == 20:
    elif n1+n2 == 20:
        return True
    else:
        return False
    pass

In [19]:
# 최종 결과
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False
    pass

In [20]:
# Check
makes_twenty(20,10)

True

In [21]:
# Check
makes_twenty(2,3)

False

In [22]:
makes_twenty(21,-1)

True

---
# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

번역
- 이름의 첫 번째와 네 번째 문자를 대문자로 표시하는 함수 작성

### 풀이에 필요할 것 같은 것  메모
0. capitalize() 함수를 사용해서 첫글자를 대문자로 바꿈 <br>
~~name[3].upper() 사용해서 4번째 글자를 대문자로 바꿈~~ << 문자열은 요소 1개만 바꾸는게 안되서 취소<br><br>
0. name.lower() 사용해서, 모든 글자를 소문자로 변경(글자 중간에 대문자가 있을수도 있으니)
1. enumerate나 list()로 글자를 분리
2. 1,4 번째 글자만 대문자로 변경
3. join 함수를 사용해서 합친 다음에 출력?

In [126]:
# 첫 풀이
def old_macdonald(name):
    # 모든 글자를 소문자로 변경
    # result = name.lower()
    
    # 문자열을 리스트로 변경
    result = list(name.lower())
    
    # 인덱스 0, 3 을 대문자로 변경
    result[0] = result[0].upper()
    result[3] = result[3].upper()
    
    # 리스트의 요소를 한글자로 합치기
    result = "".join(result)
    # 코드 작성 및 정상 동작 확인용 print 함수
    print(result)

In [23]:
# 최종 결과
# 매개변수명을 굳이 바꾸지 않아도 될 것 같아서 변경하지 않음.
def old_macdonald(name):
    name = list(name.lower())
    
    name[0] = name[0].upper()
    name[3] = name[3].upper()
    

    name = "".join(name)
    # 코드 작성 및 정상 동작 확인용 print 함수
    return name

In [24]:
# Check
old_macdonald('macdOnaLD')

'MacDonald'

In [25]:
old_macdonald('ABCDAWDAawdaw2')

'AbcDawdaawdaw2'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

번역
- 문장이 주어졌을 때, 단어가 거꾸로 된 문장을 반환

### 풀이에 필요할 것 같은 것  메모
1. text.split() 함수 사용. 띄어쓰기를 기준으로 글자를 리스트로 분리
2. 슬라이싱 [::-1]
3. " ".join() 함수 사용

In [3]:
# 첫 풀이
def master_yoda(text):
    # 글자 나누기 + 리스트 화
    text = text.split() 
    
    # slice[::-1] 사용하여 역순으로 변경
    text = text[::-1]
    
    # join으로 글자 합치기
    text = " ".join(text)
    # 코드 작성 및 정상 동작 확인용 print 함수
    
    return text
    #
    #print(text)

In [125]:
# 최종 결과

In [4]:
# Check
master_yoda('I am home')

'home am I'

In [5]:
# Check
master_yoda('We are ready')

'ready are We'

In [6]:
master_yoda('world of warcraft')

'warcraft of world'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

번역
- 정수 n이 주어지면 n이 100 또는 200 중 10 이내이면 True를 반환
- `abs(num)` 숫자의 절대값을 반환합니다.

### 풀이에 필요할 것 같은 것  메모
- 90 <= n <= 110 이거나, 190 <= n <= 210 이면 True
- 그 외면 False

0. abs(num) 사용할 필요가 있나?
1. if문과  and 논리 연산자 사용

In [147]:
# 첫 풀이
def almost_there(n):
    if n >= 90 and n <= 110:
        return True
    elif n >= 190 and n <= 210:
        return True
    else:
        return False

In [26]:
# 최종 결과
def almost_there(n):
    # 마이너스를 입력해도 양의 정수로 취급할 필요가 있을까봐.
    n = abs(n)
    
    if n >= 90 and n <= 110:
        return True
    elif n >= 190 and n <= 210:
        return True
    else:
        return False

In [27]:
# Check
almost_there(104)

True

In [28]:
# Check
almost_there(150)

False

In [29]:
# Check
almost_there(209)

True

In [31]:
almost_there(-99)

True

---
# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

번역
- int 목록 내에 3이 연속으로 2번 있는 경우 True
- 3이 2개가 있더라도 연속적이지 않으면 False

1. 3을 먼저 찾고
2. "연속 3을 어떻게 구분하지?"
3. 정상적인 방법은 아닌 것 같지만 갑자기 든 생각. 
    - 리스트를 하나의 문자열로 합쳐서, 문자열 내에 33이 있으면 True 라고 해도 되지 않을까?

In [69]:
# 첫 풀이 
def has_33(nums_list):
    #for num_3 in nums_list:
    #    if num_3 == 3:
    
    
    # 숫자 리스트를 1문장으로 합친다.
    # 이 과정에서 map() 함수를 사용.
    str_num = "".join(map(str,nums_list))

    if "33" in str_num:
        return True
    else:
        return False
    
    # 정상 동작 확인 & 결과 출력용
    #print(str_num)

NameError: name 'str_num' is not defined

In [70]:
# Check
has_33([1, 3, 3])

In [61]:
# Check
has_33([1, 3, 1, 3])

False

In [62]:
# Check
has_33([3, 1, 3])

False

In [68]:
has_33([3, 1, 3,2,4,2,1,45,3,3])

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

번역
- 문자열이 주어지면 원본의 모든 문자가 3번씩 출력되는 문자열 반환

1. 문자열을 1글자씩 쪼개고
2. 글자 * 3 과 같은 기능을 하는 함수(가 있다면) 사용
3. 글자를 다시 합친다

In [205]:
# 첫 풀이
def paper_doll(text):
    # 텍스트를 리스트로 만든다
    text_list = list(text)
    
    # 삭제할듯? 리스트 내 요소의 수
    len_num=len(text_list)
    
    # 빈 리스트 (여기에 3배한 글씨 추가)
    empty_list = []
    
    # 인덱스의 글자 * 3 했을 때 글씨가 3번 나오는지 확인용.
    #test1 = text_list[0]*3
    
    n=0
    
    # 인덱스 숫자가 5미만이면 동작
    # len_num = 5
    while  n < len_num:
        # 인덱스 1번째 위치의 글자의 길이가 3보다 작으면 
        #if len(text_list[0]) < 3:
        if len(text_list[n]) < 3:
            # 글자 3번 나오게 해서 늘려서 빈 리스트에 추가하고
            empty_list.append(text_list[n]*3)
            
            # n + 1 한다. 
            n += 1
    # n += 1을 처음에 여기에 넣었더니 메모리 에러가 발생하고 크롬이 죽어버렸다. 
    
    
    # 문자열을 하나로 합친다.
    result = "".join(empty_list)
    return result
    
    # 정상 동작 확인 & 결과 출력용
    #print(result)

In [32]:
# 최종 결과
def paper_doll(text):
    text_list = list(text)
    len_num=len(text_list)
    empty_list = []
    
    n=0
    
    while  n < len_num:
        if len(text_list[n]) < 3:
            empty_list.append(text_list[n]*3)
            
            n += 1
   
    
    result = "".join(empty_list)
    return result

In [35]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [34]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [33]:
paper_doll('apple')

'aaappppppllleee'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

번역
-  1에서 11 사이의 세 정수가 주어졌을 때 합이 21보다 작거나 같으면 합을 반환
- 합이 21 을 초과 하고, 11이 있으면 총 합을 10으로 줄입니다.   <<<< 무슨 소리지?
- 마지막으로 합(조정 후에도)이 21을 초과하면 'BUST'를 반환

In [36]:
def blackjack(a,b,c):
    sum_num = a+b+c
    
    if sum_num <= 21:
        return sum_num
    elif sum_num > 21:
        if a == 11 or b == 11 or c == 11:
            return sum_num-10
        else:
            return 'BUST'

In [37]:
# Check
blackjack(5,6,7)

18

In [38]:
# Check
blackjack(9,9,9)

'BUST'

In [39]:
# Check
blackjack(9,9,11)

19

In [41]:
blackjack(10,10,10)

'BUST'

# 풀지 못한 문제
#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

번역
- 배열의 요소를 합산하는 함수
- 배열의 요소에 6과 9가 있다면 그 사이의 요소는 합산에서 제외
- 6 뒤에는 적어도 하나의 9가 있음.
- 숫자가 없으면 0을 반환. ¶

In [ ]:
def summer_69(arr):
    pass

In [ ]:
# Check
summer_69([1, 3, 5])

In [ ]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

# CHALLENGING PROBLEMS (이건 나중에 풀어보자)

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [ ]:
def spy_game(nums):
    pass

In [ ]:
# Check
spy_game([1,2,4,0,0,7,5])

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!