# Range() 함수

In [5]:
for num in range(3):
    print(num)

0
1
2

In [4]:
for num in range(1,5):
    print(num)

1
2
3
4

In [7]:
for num3 in range(0,8,3):
    print(num3)

0
3
6

In [8]:
list(range(1,5))

[1, 2, 3, 4]

In [9]:
range(1,5)

range(1, 5)

# enumerate()

인덱스의 순서에 따라 문자열이 출력되는 반복문

In [18]:
count = 0

for text in "warcraft3":
    print(f'{count} 번째 글자 : {text}')        # 이렇게만 실행하면 {count}는 0만 출력되지만 문자열은 정상적으로 출력됨
 #   count += 1                                 #  {count} 를 +1 씩 해주면 인덱스의 숫자 동일하게 출력.

0 번째 글자 : w
0 번째 글자 : a
0 번째 글자 : r
0 번째 글자 : c
0 번째 글자 : r
0 번째 글자 : a
0 번째 글자 : f
0 번째 글자 : t
0 번째 글자 : 3

### 같은 인덱스 순서로 결과를 출력하지만 다른 방식으로 작성가능한 코드

In [17]:
count1 = 0
game = "warcraft3"           # 문자열을 변수에 할당

for text1 in game:
    print(game[count1])      # 이렇게만 실행하면 w만 8번 출력됨.
    count1 += 1              #  count1 을 +1 씩 해주면 글자가 순서대로 출력됨.

w
a
r
c
r
a
f
t
3

### enumerate() 함수를 사용하면
### '변수 = 0 설정' 및 '변수 += 1' 과 같은 코드를 모두 생략하고 
단순하게 표현 가능

### 대신 range와 마찬가지로 enumerate() 단독으로는 사용 불가

In [22]:
enumerate("wow")

0x1e5c5490d00 메모리에서 enumerate를 기다리고 있습니다.

In [19]:
game1 = "warcrafe4"

for text2 in enumerate(game1):
    print(text2)

(0, 'w')
(1, 'a')
(2, 'r')
(3, 'c')
(4, 'r')
(5, 'a')
(6, 'f')
(7, 'e')
(8, '4')

tuple 형태로 출력되고 <br>
이를 unpacking 하는 방식으로 요소를 따로 출력할 수 있음

In [23]:
game1 = "warcrafe4"

for index,items in enumerate(game1):      # text2를 결과물의 tuple 형태인 index,items 로 변경
#    print(index)
    print(items)

w
a
r
c
r
a
f
e
4

# zip()
2개 이상의 리스트에 대응되는 항목을 하나의 pair로 만들어 tuple로 반환 <br>
대응되지 않는 = 남는 항목은 출력되지 않음

In [25]:
no = [1,2,3,4]
birth = ['8월','5월','2월']

for birth_list in zip(no,birth):
    print(birth_list)

(1, '8월')
(2, '5월')
(3, '2월')

list가 아닌 tuple을 사용해도 정상적으로 동작

In [26]:
no = (1,2,3,4)
birth = ('8월','5월','2월')

for birth_list in zip(no,birth):
    print(birth_list)

(1, '8월')
(2, '5월')
(3, '2월')

리스트/튜플/문자열이 아닌것을 합친다면? <br>
아래와 같이 정상 동작함

In [30]:
no = '1234'
birth = ('8월','5월','2월')
days = [13,25,31]
name = {'홍':'길동','하':'루방','아':'무개'}

for birth_list in zip(no,birth,days,name):
    print(birth_list)

('1', '8월', 13, '홍')
('2', '5월', 25, '하')
('3', '2월', 31, '아')

# min() / max()

In [2]:
ml = [1,2,14,21,10]
ms = "ajhwjhkjaw"
mt = (1,5,"가","50000")
md = {'홍':'길동','하':'루방','아':'무개'}

min(ml)

1

In [32]:
max(ml)

21

In [33]:
min(md)

'아'

In [34]:
max(md)

'홍'

In [35]:
min(mt)

TypeError: '<' not supported between instances of 'str' and 'int'

In [36]:
max(mt)

TypeError: '>' not supported between instances of 'str' and 'int'

In [37]:
min(ms)

'a'

In [38]:
max(ms)

'w'

# input()

In [ ]:
input("원하는 메뉴를 선택하세요. :")

In [3]:
gn = "주문하려는 메뉴를 선택하세요 :"

input(md)

{'홍': '길동', '하': '루방', '아': '무개'}무개

'무개'

In [4]:
type(gn)

str